* {
    font-family: 'Fraunces', 'Segoe UI', Verdana, sans-serif;
    color: #fff;
}
p{
margin: 10px;
font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration:wavy, solid;
text-decoration-line: underline;
color: rgb(206, 31, 8);
justify-content: center;
text-align: center;
padding: 4px;
}
body {
    margin: 0;
    background-color: #e9e514;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: 170px repeat(5, 80px);
    background-color: #783dc5;
    padding: 18px;
    border-radius: 35px;
}

button {
    cursor: all-scroll;
    margin: 5px;
    padding: 0;
    border-radius: 35px;
    font-size: 1.5em;
    border:#c2acac;
    background-color: #cc56e4;
    box-shadow: 5px 5px 10px -3px #6c0c8040, -5px -5px 15px 3px #5e1d561f;
}

button:active {
    background-color: #45065a;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #491941;
    border-radius: 48px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    
}

#valor-actual {
    font-size: 1.7em;
}

#valor-anterior {
    font-size: 3em;
}